@page "/"
@using TvDashboard.Dtos
@inject IWidgetService widgetService

@for (var i = 1; i <= WidgetCount; i += 1)
{
    @if (Widgets.ContainsKey(i))
    {
        @renderWidget(i);
    }
    else
    {
        <div></div>
    }
}

@code
{
    private Dictionary<int, Widget> Widgets { get; set; }
    private int WidgetCount => 12;
    
    protected override void OnInitialized()
    {
        Widgets = widgetService.GetWidgets();
    }
    
    private RenderFragment renderWidget(int index) => builder =>
    {
        var t = Widgets[index].GetType();
        builder.OpenComponent(0, t);
        builder.AddAttribute(1, "class", widgetService.WidgetClasses[index]);
        builder.CloseComponent();
    };
}
